python-dotenv==1.0.1
azure-servicebus==7.12.2
azure-cosmos==4.5.1
azure-storage-blob==12.19.0
openai==1.40.3
langchain-openai==0.1.21
langchain-core==0.2.29
langchain-community==0.2.11
azure-cognitiveservices-speech==1.38.0